#content {
    color: white;
    background-color: black;
    width: 3500px;
}

#content table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid white;
}

#content table td {
    width: auto;
    border: 1px solid white;
    text-align: center;
}

#content table td progress {
}

#content table th {
    width: auto;
    border: 1px solid white;
    text-align: center;
}

#content img {
    width: 50px;
    height: 50px;
}

#content table td.GridComplete {
    background-color: yellow;
    color: black;
}

#content table td.itemIcon img {
    float: left;
}

#content table td.itemIcon progress {
    width: 50px;
    height: 5px;
    float: left;
    clear: both;
}

#content table td.talent talentLine1 {
    float: left;
}

#content table td.talent talentLine2 {
    float: left;
    clear: both;
}

#content table td.talent talentLine3 {
    float: left;
    clear: both;
}

#content table td.talent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
}

#content table td.talent span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 75%;
}

#content table td.talent progress {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 5px;
}

#content table td.damageArc {
    color: #85c5ec;
}

#content table td.damageSolar {
    color: #f2721b;
}

#content table td.damageVoid {
    color: #b184c5;
}

#content table td.damageKinetic {
    color: white;
}
